*{
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    color: #444444;
}

body{
    min-width: 320px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
  }
  
h2{
    margin-bottom: 22px;
  }
  
.container-calc {
    max-width: 1020px;
    margin: 250px auto 0px auto;
    padding-left: 10px;
    padding-right: 10px;
}

.sub-container {
    background-color: #f9fafd;
    border-left: 1px solid #a17cce;
    display: flex;
    justify-content: space-evenly;
    padding: 30px 0 30px 0;
}

.sub-calculator {
    width: 43%;
    outline: none;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.prise,
.payment {
    /* Firefox */
    -moz-appearance:textfield;
    box-shadow: none;
    /* Firefox */
    width: 100%;
    font-size: 30px;
    border: 1px solid #dee2e7;
    border-radius: 15px;
    padding: 13px 0px 13px 60px;
    outline: none;
}

.title-calc {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    color: #9d9fb9;
    margin-bottom: 15px;
}

.slider::-webkit-slider-runnable-track {
    /* Chrome , Safari */
    height: 1px;
    cursor: pointer;
    background: #a17cce; 
    z-index: 2;
    position: relative;
    top: 8px;
    margin-bottom: 15px;
}

.slider::-moz-range-track { 
    /* Firefox */
    height: 1px;
    cursor: pointer;
    background: #a17cce;
    border-radius: 5px;
    z-index: 3;
  }
  

.slider::-moz-range-thumb { 
    /* Firefox */
    border: 0;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    background-color: #a17cce;
    cursor: pointer;
    z-index: 4;
  }

.slider::-webkit-slider-thumb {
    /* Chrome , Safari */
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background: #a17cce;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -13px;
}

.inp::-webkit-outer-spin-button,
.inp::-webkit-inner-spin-button {
    /* Chrome , Safari */
    -webkit-appearance: none;
}

:focus::-webkit-input-placeholder {
    /* Chrome , Safari */
    color: transparent;
}

.dollar {
    position: absolute;
    left: 30px;
    top: 20px;
    font-size: 30px;
    color: #9d9fb9;
}

.sub-percents {
    width: 33%;
    position: absolute;
    right: 1px;
    top: 3px;
    background-color: #fff;
    border-radius: 15px;
}

.percents {
    /* Firefox */
    -moz-appearance:textfield;
    /* Firefox */
    width: 60%;
    position: relative;
    top: 0px;
    right: 1px;
    padding: 11px 0px 11px 10px;
    font-size: 30px;
    outline: none;
    border: 0px;
    color: #9d9fb9;
    text-align: right;
}

.icon-percent {
    position: relative;
    top: auto;
    bottom: auto;
    right: auto;
    font-size: 25px;
    color: #9d9fb9;
}

.slider {
    -webkit-appearance: none;
    width: 90%;
    background-color: transparent;
    outline: none;
    margin: -9px 0 12px 0;
    z-index: 2;
}

.label {
    display: flex;
    width: 92%;
    justify-content: space-between;
}

.sub-label {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    color: #9d9fb9;
}


@media (max-width:767px) {
    
    .container {
        margin: 150px auto 0px auto;
    }

    .sub-container {
        flex-direction: column;
        align-items: center;
        padding: 20px 0 30px 0;
    }

    .sub-calculator {
        width: 90%;
        max-width: 300px;
    }

    .prise,
    .payment {
        font-size: 25px;
        line-height: 25px;
        border-radius: 15px;
        padding: 10px 0px 10px 50px;
    }

    .right-payment {
        padding: 10px 30px 10px 50px;
    }

    .percents {
        width: 60%;
        padding: 10px 0px 10px 10px;
        font-size: 25px;
        line-height: 25px;
    }

    .slider::-webkit-slider-thumb {
        height: 23px;
        width: 23px;
        margin-top: -12px;
    }

    .dollar {
        position: absolute;
        left: 25px;
        top: 12px;
        font-size: 25px;
    }

    .icon-percent {
        position: absolute;
        top: 15px;
        right: auto;
        font-size: 20px;
        color: #9d9fb9;
        z-index: 3;
    }

    .slider {
        width: 88%;
    }
}